@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=JetBrains+Mono:wght@500&display=swap");

:root {
  --dark-blue: #0094d2;
  --light-blue: #5bcff4;
  --dark-green: #52bc9f;
  --light-green: #6edbb9;
  --light-text: #fff;
  --dark-text: #808080;
  --background: #261f22;
}

body {
  color: var(--light-text);
  background-color: var(--background);
  scroll-padding-top: -100px;
  scroll-margin-top: -100px;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
}

.key {
  color: var(--light-green);
}

.value {
  color: var(--light-blue);
}

.highlight {
  color: #f97316;
}

a {
  color: var(--light-blue);
}

h1 {
  font-size: 3.5rem;
  font-family: "JetBrains Mono", monospace;
}

h2 {
  font-size: 2.5rem;
  font-family: "JetBrains Mono", monospace;
}

h3 {
  font-size: 2.25rem;
  font-family: "JetBrains Mono", monospace;
}

h4 {
  font-size: 2rem;
  font-family: "JetBrains Mono", monospace;
}

h5 {
  font-size: 1.75rem;
  font-family: "JetBrains Mono", monospace;
}

p {
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
}

ul {
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
}
